*{
    margin: 0;
    padding: 0;
}
body{
    background: #f2f0e9;
}
.nav-wrapper{
    width: 90%;
    height: 95px;
    margin: 0 auto;
}
.nav-bar{
    align-items: center;
    display: flex;
    padding-top:9px;
}
.logo-section{
    display: flex;
    width: 50%;
    align-items: center;
}
.logo-text{
    margin-left: 20px;
    font-size: 22px;
}
.logo-section img{
    height: 80px;
    mix-blend-mode: hard-light;
}
.form-wrapper h4{
    margin-bottom:0px;
}
.slogan-section{
    width: 50%;
    text-align: right;
}
.slogan-section-info{
    margin-bottom: 0px;
    margin-top: 15px;
}

.slogan-section-btn a{
    color: rgb(207 146 7);
    text-decoration: none;
    border: 1px solid #feb100;
    padding: 10px 20px;
    border-radius: 15px;
}
.slogan-section-btn a:hover{
    color: white;
    background: #feb100;
}

.slogan-section-btn a:first-child{
    margin-right: 25px;
}

.appointment-wrapper{
    width: 100%;
    display: flex;
}
.appointment-image{
    height: auto;
    background: #ffb202;
}
.appointment-image img{
    width: 100%;
    mix-blend-mode: luminosity;
}
.appointment-form{
    background: white;
    width: 50%;
}

.form-wrapper{
    text-align: left;
    padding: 25px 35px;
}
.form{
    margin-top: 15px;
}
.form input {
    width: 100%;
    padding: 0px 20px 0px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #eaeaea;
    color: #918f8f;

}
#form__submit{
    margin-top: 15px;
    padding: 7px 0px;
}
#form__submit:focus{
    box-shadow: none;
    border-color:#198754;
}
.form div {
    margin-top: 2px;
}
.form input:focus {
    outline: none;
    border-bottom: 1px solid #c8c4c4;
}

#description{
    margin-top: 12px;
}
#description:focus {
    box-shadow: none;
    border-color:#eaeaea;
}
.signup-info{
    margin-top: 1px;
    color: #bebbbb;
}
.ast{
    color: #a50e0e;
}
.error{
    color: #a50d0e;
    font-size: 14px;
}
.info{
    font-size: 9px;
    color: #807b7b;
}

.profile-section{
    height: auto;
    width: 30%;
}
.appointment__form{
    background: #e2dfdf;
    width: 70%;
    padding-bottom: 30px;
}
.appointment__form h4{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.tableCustom{
    padding: 16px;
    width: 95%;
    margin: 0 auto;
}
.descriptionView{
    width: 315px;
}
.errorWrapper{
    background: #f8f8f8;
    padding: 15px;
}
.footer{
    width: 100%;
    color: #0c0c0c;
    text-align: center;
    padding: 7px;
}

.alert{
    padding: 10px;
}
.profile-section{
    background: #fcfcfc;
    padding: 25px 35px;
    text-align: center;
}
.pagination{
    margin-left: 21px;
    margin-top: 20px;
}
.common_btn{
    width: 35px;
    padding: 0px;
    height: 30px;
    font-size: 12px;
    border-radius: 0px;
}
